.about {
  padding-bottom: 33px;
}

.about__container {
  @include container;
  padding-top: 33px;
}

.about-title {
  @include no-indent;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 1.2;
  color: $black;
}

.about__list {
  @include simple-list;
}

.about__item {
  padding-top: 60px;
  padding-bottom: 23px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  background-repeat: no-repeat;

  &--eko {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: top 8px left 8px;
    background-size: 32px 37px;
  }

  &--style {
    background-image: url("../img/icon-feature-money.svg");
    background-position: top 8px left 0;
    background-size: 47px 27px;
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: top 13px left 7px;
    background-size: 34px 30px;
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: top 11px left 3px;
    background-size: 34px 35px;
  }

  &--manufacturer {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: top 11px left -5px;
    background-size: 55px 23px;
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: top 10px left 3px;
    background-size: 33px 32px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 0;
    padding-bottom: 29px;
  }

  .about__container {
    @include tablet-container;
    padding-top: 69px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    width: 100%;
  }

  .about-title {
    font-size: 43px;
    line-height: 1.16;
  }

  .about__item {
    padding-top: 76px;
    padding-bottom: 35px;
    padding-right: 20px;
    width: 50%;
    font-size: 20px;
    line-height: 1.1;

    &--eko {
      order: 1;
      background-position: top 23px left 8px;
    }

    &--style {
      order: 3;
      background-position: top 24px left 0;
    }

    &--like {
      order: 5;
      background-position: top 28px left 7px;
    }

    &--handmade {
      order: 2;
      background-position: top 24px left 3px;
    }

    &--manufacturer {
      order: 4;
      background-position: top 26px left -5px;
    }

    &--gift {
      order: 6;
      background-position: top 25px left 3px;
    }
  }
}


@media (min-width: $desktop-width) {
  .about {
    padding: 0;
  }

  .about__container {
    @include desktop-container;
    padding-top: 60px;
    padding-bottom: 35px;
  }

  .about__list {
    margin: 0 auto;
    max-width: 700px;
  }

  .about-title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 1.1;
  }
}
