.catalog-list {
  @include simple-list;
  @include container;
  margin: 0 auto;
  padding-top: 30px;
}

.catalog-list__item {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    @include tablet-container;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
  }

  .catalog-list__item {
    margin-bottom: 54px;
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    @include desktop-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 130px;
  }

  .catalog-list__item {
    display: flex;
    width: 315px;
    margin: 0;
  }
}
