.choose-size__list {
  @include simple-list;
  display: flex;
}

.choose-size__item {
  margin-bottom: 29px;
}

.choose-size__item:not(:nth-child(3n)) {
  margin-right: 7px;
}

.choose-size__label {
  display: block;
  padding: 10px 15px;
  width: 82px;
  text-align: center;
  border: 2px solid $gray--lighter;

  &:hover,
  &:focus {
    border: 2px solid $modborder-color;
  }

  &:active {
    border: 2px solid $modborder-color--active;
  }
}

@media (min-width: $tablet-width) {
  .choose-size__list {
    width: 350px;
  }

  .choose-size__label {
    padding: 10px 25px;
    width: 112px;
  }
}
