.copyright {
  @include container;
  display: flex;
  align-items: center;
  padding-top: 8px;
  width: 260px;
}

.copyright__by {
  @include no-indent;
  display: block;
  padding-left: 9px;
  font-size: 19px;
  line-height: 0.95;
  font-weight: 700;
  color: $black;
}

.copyright__cite {
  margin-top: 13px;
  margin-left: 28px;
}

.copyright__logo {
  fill: $mint;
  outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 182px;
    margin: 0;
    padding: 0;
  }

  .copyright__by,
  .copyright__cite {
    padding: 0;
  }

  .copyright__by {
    padding-bottom: 14px;
  }

  .copyright__cite {
    margin: 0;
    margin-left: 27px;
  }
}
