.goods-list {
  @include simple-list;
}

.goods-list__link {
  @include container;
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  min-height: 103px;
  font-size: 19px;
  line-height: 1.26;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  &:hover {
    transition: 0.5s;
    margin-top: -5px;
  }

  &--interior {
    background-color: $mint;
  }

  &--toys {
    background-color: $mint--darker;
  }

  &:active .goods-list__text,
  &:active &::after {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    opacity: 0.5;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &--interior::after {
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
  }

  &--toys::after {
    top: 22px;
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
  }
}

.goods-list__text {
  @include no-indent;
  display: block;
  max-width: 50%;
}

/*.goods-list__int-icon {
  /*position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid red;
  fill: rgba(#44c0aa 0.5);

  &:hover {
    fill: rgba(#44c0aa 0.7);
  }

  &:active {
    fill: rgba(#44c0aa 0.3);
  }
}*/

@media (min-width: $tablet-width) {
  .goods {
    width: 100%;
    background-color: #f9f9f9;
  }

  .goods-list {
    @include tablet-container;
    display: flex;
  }

  .goods-list__item {
    width: 50%;
  }

  .goods-list__link {
    padding: 27px 35px 32px;

    &--interior::after {
      top: 29px;
    }

    &--toys::after {
      top: 32px;
      right: 34px;
    }
  }

  .goods-list__text {
    @include no-indent;
    display: block;
    max-width: 50%;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .goods-list {
    @include desktop-container;
  }

  .goods-list__link {
    padding: 30px 36px;
  }

  .goods-list__text {
    font-size: 20px;
    line-height: 1.5;
  }
}
