.item-info__text {
  @include no-indent;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $gray--darker;
}

.item-info__options {
  margin-bottom: 27px;
  width: 100%;
  border-collapse: collapse;
}

.item-info__row {
  border-bottom: $border;
}

.item-info__label,
.item-info__value {
  @include no-indent;
  padding-top: 7px;
  padding-bottom: 4px;
}

.item-info__value {
  padding-left: 15px;
}


@media (min-width: $tablet-width) {
  .item-info__options {
    width: 290px;
    line-height: 20px;
  }

  .item-info__text {
    margin-bottom: 42px;
    font-size: 17px;
    line-height: 30px;
  }

  .item-info__label,
  .item-info__value {
    padding-top: 7px;
    padding-bottom: 12px;
  }

  .item-info__value {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .item-info__label,
  .item-info__value {
    padding: 0;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .item-info__text {
    margin-bottom: 50px;
  }

  .item-info__label {
    width: 97px;
  }
}
