@mixin simple-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  padding: 0 30px;
}

@mixin tablet-container {
  margin: 0 auto;
  padding: 0 50px;
  width: 768px;
}

@mixin desktop-container {
  margin: 0 auto;
  padding: 0 100px;
  width: 1250px;
}

@mixin no-indent {
  margin: 0;
  padding: 0;
}

/*@mixin font-set($font-base, $lineh-base, $fontw-base, $black) {
  font-size: $font-base;
  line-height: $lineh-base;
  font-weight: $fontw-base;
  color: $black;
}*/
