.order-form {
  @include container;
  padding-bottom: 55px;
}

.order-form__fieldset {
  @include no-indent;
  margin-bottom: 30px;
  border: none;

  &--color {
    margin-bottom: 11px;
  }

  &--name,
  &--tel {
    margin-bottom: 18px;
  }

  &--email {
    margin-bottom: 20px;
  }

  &--text {
    margin-bottom: 12px;
  }
}

.order-form__title {
  @include no-indent;
  display: flex;
  padding-bottom: 24px;
  font-size: 17px;
  line-height: 0.94;
  font-weight: 700;
  color: $mint;
  text-transform: uppercase;

  &::after {
    content: "";
    flex-grow: 1;
    align-self: center;
    margin-left: 25px;
    width: 130px;
    height: 1px;
    background-color: $mint;
  }

  &--text {
    padding-bottom: 8px;
  }
}

.order-form__options {
  @include simple-list;
}

.order-form__option {
  margin-bottom: 15px;

  &--text {
    @include no-indent;
    position: relative;
    margin-bottom: 15px;
    width: 260px;
  }
}

.order-form__label-radio {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: $white;
    border: 2px solid $black;
    border-radius: 50%;
    cursor: pointer;
  }
}

.order-form__radio {
  &:checked + .order-form__label-radio::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: $mint;
    border-radius: 50%;
  }
}

.order-form__label-radio,
.order-form__label-checkbox {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 62px;
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;
  color: $black;

  &:hover::before {
    border-color: $mint;
  }

  &:active::before {
    border-color: $modborder-color;
  }
}

.order-form__label-checkbox {
  padding-left: 62px;
  padding-bottom: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 39px;
    border: 2px solid $gray--darker;
    cursor: pointer;
  }
}

.order-form__checkbox {
  &:checked + .order-form__label-checkbox::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 8px;
    display: block;
    width: 23px;
    height: 12px;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    transform: rotate(-45deg);
  }
}

.order-form__label-text {
  position: relative;
  display: block;
  padding-top: 8px;
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;
  color: $black;
}

.order-form__text {
  padding: 15px 0;
  width: 260px;
  font-size: 17px;
  line-height: 1.06;
  color: rgba($gray--darker, 0.3);
  border: none;
  border-bottom: $form-border;
  outline: none;
  resize: none;

  &:hover,
  &:focus {
    border-color: $mint;
  }

  &:active {
    color: $gray--darker;
    border-color: $mint--darker;
  }
}

.order-form__icon {
  position: absolute;
  fill: rgba($black, 0.2);

  &:hover,
  &:focus,
  &:active {
    fill: $modborder-color--active;
  }

  &--tel {
    top: 10px;
    right: 9px;
  }

  &--mail {
    top: 17px;
    right: 4px;
  }
}

.order-form__textarea {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  font-size: 17px;
  line-height: 1.06;
  color: rgba($gray--darker, 0.3);
  vertical-align: top;
  border: 2px solid $gray--darker;
  outline: none;
  resize: none;

  &:hover,
  &:focus {
    border-color: $mint;
  }

  &:active {
    color: $gray--darker;
    border-color: $mint--darker;
  }
}

.order-form__button {
  margin-top: 32px;
}

.order-form__explanation {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: $gray--darker;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding: 0;
  }

  .order-form__fieldset {
    margin: 0;
    padding-top: 68px;
    padding-bottom: 23px;
    width: auto;

    &--tel,
    &--email,
    &--color {
      background-color: $gray;
    }

    &--tel {
      padding-top: 68px;
      padding-bottom: 0;
    }

    &--email {
      padding-top: 10px;
      padding-bottom: 22px;
    }

    &--color {
      padding-top: 58px;
      padding-bottom: 25px;
    }

    &--name {
      padding-top: 58px;
      padding-bottom: 15px;
    }

    &--text {
      margin-bottom: 53px;
      padding: 0;
      padding-top: 50px;
    }
  }

  .order-form__fieldset--email .order-form__text,
  .order-form__fieldset--tel .order-form__text {
    margin-left: 35px;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .order-form__fieldset--text .order-form__title {
    padding-top: 18px;
  }

  .order-form__wrapper {
    @include tablet-container;
    display: flex;
    align-items: flex-start;
  }

  .order-form__title {
    display: block;
    padding-top: 10px;
    width: 167px;
    text-align: left;

    &--text {
      padding: 0;
    }
  }

  .order-form__options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 501px;
  }

  .order-form__option {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    width: 100%;

    &--text {
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0;
    }
  }

  .order-form__options--color {
    justify-content: space-between;
    padding-right: 40px;
  }

  .order-form__options--color .order-form__option {
    margin-bottom: 45px;
    width: 197px;
  }

  .order-form__label-radio,
  .order-form__label-checkbox,
  .order-form__label-text {
    padding-left: 80px;
    font-size: 19px;
    line-height: 1;
  }

  .order-form__label-checkbox {
    padding-top: 10px;
    padding-bottom: 0;

    &::before {
      top: -7px;
      width: 54px;
      height: 52px;
    }
  }

  .order-form__checkbox {
    &:checked + .order-form__label-checkbox::after {
      top: 5px;
      left: 12px;
      width: 30px;
      height: 17px;
    }
  }

  .order-form__label-radio {
    &::before {
      top: -7px;
      left: 0;
      width: 52px;
      height: 53px;
    }
  }

  .order-form__radio {
    &:checked + .order-form__label-radio::after {
      top: 8px;
      left: 15px;
      width: 22px;
      height: 22px;
      background-color: $mint;
      border-radius: 50%;
    }
  }

  .order-form__label-text {
    margin: 0;
    margin-right: 25px;
    padding: 0;
    padding-bottom: 15px;
    font-size: 19px;
    line-height: 0.95;
  }

  .order-form__text {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 19px;
    line-height: 0.95;
    background-color: transparent;
  }

  .order-form__icon {
    &--tel {
      top: -7px;
      right: 26px;
    }

    &--mail {
      top: 0;
      right: 23px;
    }
  }

  .order-form__textarea {
    width: 501px;
    font-size: 19px;
    line-height: 0.95;
  }

  .order-form__footer {
    @include tablet-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .order-form__button {
    order: -1;
    margin: 0;
    width: 230px;
    height: 50px;
    padding: 12px 25px;
    font-size: 17px;
    line-height: 0.94;
  }

  .order-form__explanation {
    padding-top: 5px;
    font-size: 17px;
    line-height: 1.76;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-bottom: 103px;
  }

  .order-form__fieldset {
    &--type {
      padding-top: 65px;
      padding-bottom: 23px;
    }

    &--color {
      padding-bottom: 23px;
    }
  }

  .order-form__text {
    margin-right: 175px;
  }

  .order-form__wrapper {
    @include desktop-container;
  }

  .order-form__options {
    width: 875px;

    &--color {
      padding-right: 146px;
    }
  }

  .order-form__option {
    &--text {
      padding-left: 10px;
    }
  }

  .order-form__options--color .order-form__option {
    width: 202px;
  }

  .order-form__title {
    padding-left: 63px;
  }

  .order-form__label-radio,
  .order-form__label-checkbox {
    padding-left: 88px;
  }

  .order-form__fieldset--email .order-form__text,
  .order-form__fieldset--tel .order-form__text {
    margin-left: 15px;
  }

  .order-form__fieldset--text {
    margin-bottom: 48px;
  }

  .order-form__label-checkbox {
    &::before {
      top: -7px;
      left: 9px;
      width: 54px;
      height: 52px;
    }
  }

  .order-form__checkbox {
    &:checked + .order-form__label-checkbox::after {
      top: 5px;
      left: 20px;
      width: 30px;
      height: 17px;
    }
  }

  .order-form__label-radio {
    &::before {
      top: -7px;
      left: 7px;
      width: 52px;
      height: 53px;
    }
  }

  .order-form__radio {
    &:checked + .order-form__label-radio::after {
      top: 8px;
      left: 22px;
      width: 22px;
      height: 22px;
      background-color: $mint;
      border-radius: 50%;
    }
  }

  .order-form__icon {
    &--tel {
      top: -7px;
      right: 182px;
    }

    &--mail {
      top: 0;
      right: 178px;
    }
  }

  .order-form__textarea {
    margin-left: 10px;
    width: 700px;
  }

  .order-form__footer {
    margin: 0 auto;
    padding: 0;
    width: 700px;
  }

  .order-form__explanation {
    padding-top: 10px;
  }
}
