.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 100%;
  }

  .page-footer__wrapper {
    @include tablet-container;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__logo {
    display: block;
    padding: 0;
  }

  .page-footer__icon {
    outline: 1px solid red;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include desktop-container;
    padding-top: 50px;
    padding-bottom: 55px;
  }
}
