.social-buttons {
  @include simple-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-right: 49px;
  padding-left: 57px;
  padding-bottom: 10px;
  width: 260px;
  border-bottom: $footer-border;
}

.social-buttons__item {
  margin-bottom: 8px;
}

.social-buttons__item:not(:nth-child(3n)) {
  margin-right: 40px;
}

.social-buttons__icon {
  fill: $brown;

  &:hover,
  &:focus {
    fill: $icon-fill;
  }

  &:active {
    fill: rgba($icon-fill, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social-buttons {
    padding: 0;
    padding-top: 10px;
    padding-left: 97px;
    border: none;
  }
}
