.social-buttons {
  @include simple-list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  padding-right: 49px;
  padding-left: 57px;
  border-bottom: $footer-border;
}

.social-buttons__item {
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .social-buttons {
    border: none;
    padding-top: 23px;
  }
}
