.zigzag-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 8px 0;
    background-size: 320px 7px;
  }
}

.zigzag-fill {
  position: static;
}

@media (min-width: $tablet-width) {
  .zigzag-line::before {
    left: 0;
    height: 17px;
    background-position: 19px 0;
    background-size: 768px 17px;
  }

  .zigzag-fill {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -12px;
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position-x: center;
      background-size: auto 22.8px;
      z-index: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .zigzag-line::before {
    top: -22px;
    left: 0;
    width: 1050px;
    height: 22px;
    background-position: 24px 0;
    background-size: 1050px  22px;
    transform: translateX(5%);
  }

  .zigzag-fill {
    &::after {
      bottom: -10px;
      background-size: auto 34px;
    }

    &--section::after {
      bottom: -19px;
      height: 37px;
      background-size: 1250px;
    }
  }
}
